In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('california_housing_train.csv')

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

# **Задача 40**: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

*Решение по фазам. Фаза 1 - задаем условие, что население (значения в столбце 'population') меньше или равно 500.*

In [10]:
df[df['population'] <= 500]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0
...,...,...,...,...,...,...,...,...,...
16944,-124.14,40.67,23.0,580.0,117.0,320.0,109.0,4.2054,130600.0
16951,-124.15,40.81,50.0,340.0,74.0,235.0,83.0,1.7500,67500.0
16969,-124.17,40.80,52.0,661.0,316.0,392.0,244.0,0.9570,60000.0
16982,-124.18,40.62,35.0,952.0,178.0,480.0,179.0,3.0536,107000.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0

*Фаза 2 - делаем выборку с этим условием, выводя значения по столбцу 'median_house_value'.*

In [13]:
df[df['population'] <= 500]['median_house_value']

2         85700.0
7         48500.0
17        25000.0
19        27500.0
21        59200.0
           ...
16944    130600.0
16951     67500.0
16969     60000.0
16982    107000.0
16994     76100.0
Name: median_house_value, Length: 1605, dtype: float64

*Фаза 3 - добавляем метод .mean() для вычисления среднего арифметического среди полученных значений.*

In [16]:
df[df['population'] <= 500]['median_house_value'].mean()

206799.95140186916

*Фаза 4 (__итоговое решение__) - округляем полученный результат до одного символа после точки для красоты и соответствия формату значений в таблице в столбце 'median_house_value'. Для этого нам потребуется метод .round()*

In [19]:
df[df['population'] <= 500]['median_house_value'].mean().round(1)

206800.0

# **Задача 42**: Узнать какая максимальная households в зоне минимального значения population.

*Решение по фазам. Фаза 1 - узнаем минимальное значение населения (столбец 'population')*

In [20]:
df['population'].min()

3.0

*Фаза 2 - запоминаем минимальное значение населения в качестве отдельной переменной, используем ее в условии для обозначения нужной нам зоны поиска, а потом узнаем значения из столбца 'households' для этого условия*

In [22]:
min_pop = df['population'].min()
df[df['population'] == min_pop]['households']

8232    4.0
Name: households, dtype: float64

*Фаза 3 (__итоговое решение__) - используем метод .max() для вычисления максимального значения 'households' (что, впрочем, не обязательно, так как нам и так выдало лишь один результат поиска по запросу с таким населением)*

In [23]:
df[df['population'] == min_pop]['households'].max()

4.0